.playSection {
    display: flex;
    justify-content: right;
    background-color: var(--bg);
    padding: 0.3rem 3rem;
  }
  
.primaryButton{
    background-color: var(--warning);
    color: var(--white);
    border: none;
    padding: 0.3rem 0.7rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.primaryButton:hover {
    background-color: #ff7f00;
}

.playButton{
    width: 15px;
    height: 15px;
}