.container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.toggle {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease transform;
}

.toggle:hover {
  transform: scale(1.1);
}

.input {
  display: none;
}

.icon {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition: transform 500ms ease;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Moon icon styles */
.icon--moon {
  color: var(--panel-bg);
  transition-delay: 200ms;
  transform: scale(1);
}

/* Sun icon styles */
.icon--sun {
  color: yellow;
  transform: scale(0);
}

/* Toggle ON (light mode): show sun, hide moon */
.input:checked ~ .icon--moon {
  transform: rotate(360deg) scale(0);
}

.input:checked ~ .icon--sun {
  transform: scale(1) rotate(360deg);
  transition-delay: 200ms;
}
