.container {
  height: 100%;
  overflow: auto;
  background-color: var(--panel-bg);
  padding: 1rem 2rem;
  font-size: 0.875rem;
  color: var(--white);
  height: 100%;
  position: absolute;
  right: 0;
  animation: slideInRight 0.5s ease-in-out forwards;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.closeButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  align-self: flex-end;
}

.titleContainer {
  display: flex;
  align-items: center;
}

.generateCss {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.copyButton {
  display: flex;
  align-items: center;
  background-color: none;
}

.code {
  font-family: monospace;
  white-space: pre;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    visibility: visible;
  }
  to {
    transform: translateX(0);
  }
}
