.iconh2 {
  min-height: 4rem;
  display: flex;
  align-items: center;
}
.iconClosePanel {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transform: scale(1);
  transition: left 0.3s ease;
  position: absolute;
}
.iconClosePanel {
  left: 3rem;
}
