.header {
  background-color: var(--bg);
}

.headerContent {
  padding: 0 3rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoTitleContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 5rem;
  height: 5rem;
}

.buttonIcon {
  width: 1rem;
  height: 1rem;
}
