.timelineWrapper {
  position: relative;
  width: 100%;
  overflow: auto;
}

.timelineEditorContainer {
  display: flex;
  padding-top: 1.5rem;
  flex-direction: column;
  background-color: var(--timeline-bg);
  overflow: hidden;
  resize: none;
  height: 300px;
  min-height: 150px;
  overflow: auto;
  overflow-y: visible;
  
}

.timelineControlSticky {
  flex-shrink: 0;
  
}

.timelineBody {
  flex: 1;
  display: flex;
  box-sizing: border-box;
  position: relative;
  background-color: var(--timeline-bg);
  position: relative;
}

.handleContainer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  border: 2px green;
  text-align: center;
}

.resizeHandle {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  background-color: var(--control-colors);
  border: none;
  width: 2rem;
  height: 2rem;
  color: var(--bg);
  cursor: row-resize;
  text-align: center;
  font-size: 14px;
  user-select: none;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  top: 0.25rem; /* place inside container instead of -12px */
}

.resizeHandle:hover {
  background: var(--button-hover-bg);
}
