.container {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--timeline-bg);
  flex-grow: 10;
  overflow: auto;
  padding-right: 1rem;
}

.timelineBody {
  display: flex;
  box-sizing: border-box;
  position: relative;
  background-color: var(--timeline-bg);
}

.timelineEditorContainer::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.timelineEditorContainer::-webkit-scrollbar-track {
  background: var(--panel-bg);
}

.timelineEditorContainer::-webkit-scrollbar-thumb {
  background: var(--button-hover-bg);
  border-radius: 4px;
}

.timelineEditorContainer::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}

@supports (-moz-appearance: none) {
  .timelineEditorContainer {
    scrollbar-width: thin;
    scrollbar-color: var(--button-hover-bg) var(--panel-bg); /* thumb color + track color */
  }
}
