.container {
  display: flex;
  background-color: #1e1e1e;
  color: #aaa;
  font-size: 12px;
  border: 1px solid #333;
  height: 100%;
}

.sidebar {
  width: 150px;
  border-right: 1px solid #333;
  display: flex;
  flex-direction: column;
}

.layerItem {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 10px;
  border-bottom: 1px solid var(--bg);
  cursor: pointer;
  overflow: hidden;
  transition: height 0.3s ease, background-color 0.3s ease;
}

.layerItemOpen {
  height: 100px;
  background-color: var(--bg);
  cursor: pointer;
  transition: height 0.3s ease, background-color 0.3s ease;
}

.arrow {
  margin-right: 5px;
  font-size: 10px;
}

.timelineArea {
  flex: 1;
  overflow: auto;
}

.timeRuler {
  display: flex;
  height: 50px;
  border-bottom: 1px solid #444;
  background-color: #252526;
  align-items: center;
}

.timeTick {
  width: 100%;
  text-align: center;
  border-right: 1px solid var(--bg);
  line-height: 30px;
}

/* Track rows */
.trackRow {
  position: relative;
  height: 50px;
  border-bottom: 1px solid var(--bg);
  transition: height 0.3s ease, background-color 0.3s ease;
}

.openTrackRow {
  height: 100px;
  transition: height 0.3s ease, background-color 0.3s ease;
}

.keyframesContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.keyframe {
  width: 30px;
}
