.sidebarContainer {
  position: relative;
  transition: width 0.3s ease, opacity 0.3s ease;
  will-change: width, opacity;
  z-index: 1;
}

.openContainer {
  width: 26rem;
  opacity: 1;
  visibility: visible;
}

.closeContainer {
  width: 6rem;
  visibility: visible;
}

.iconClosePanel {
  position: absolute;
  top: 0.5rem;
  right: -0.8rem;
  z-index: 2;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--white);
  color: var(--timeline-bg);
  padding: 0.4rem;
  border-radius: 50%;
  transition: all 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.iconClosePanel:hover {
  transform: scale(1.1);
}

.sidebar {
  background-color: var(--bg);
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  position: relative;
}

.shapesContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.styleSelected {
  width: 100%;
  padding: 0.6rem 1rem;
  font-size: 0.95rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--timeline-bg);

  border: none;
  border-radius: 5px;
  appearance: none;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg%20fill%3D'white'%20height%3D'10'%20viewBox%3D'0%200%2024%2024'%20width%3D'10'%20xmlns%3D'http%3A//www.w3.org/2000/svg'%3E%3Cpath%20d%3D'M7%2010l5%205%205-5H7z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 14px 14px;
  background-color: var(-s-control-colors);
}

.styleSelected:focus {
  outline: none;
}

.styleSelected:disabled {
  background: #e0e0e0;
  color: #aaa;
  cursor: not-allowed;
}

.styleSelectedoptgroup {
  font-weight: bold;
  color: var(--control-colors);
  padding-top: 4px;
}

.styleSelectedoption {
  background-color: white;
  color: #333;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}

.styleSelectedoption:disabled {
  color: #999;
}

.iconContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.iconButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.iconButton:hover {
  transform: scale(1.15);
}

.sidebarButtons {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.5rem;
  padding: 0.4rem 1.2rem;
  background-color: var(--white);
  color: var(--timeline-bg);
  border: none;
  border-radius: 12px;
  font-weight: 600;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.15s ease;
  user-select: none;
}

.sidebarButtons:hover {
  background: var(--highlight-color);
  color: white;
}

.sidebarButtons:active {
  transform: translateY(0);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.shape {
  width: 30%;
}

.text {
  width: 50%;
}
.sidebarButtons:hover {
  background-color:  var(--primary-button);
  transform: translateY(-0.5px);
}

.sidebarButtons:active {
  transform: translateY(0);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.storageButtons {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

.resetButton,
.saveButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.6rem 1.2rem;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
  user-select: none;
  transition: background 0.3s ease, transform 0.15s ease, box-shadow 0.3s ease;
}

.resetButton {
  background-color: #ff4d4f;
  border: none;
}

.saveButton {
  color: var(--timeline-bg);
  background-color: var(--white);
  border: none;
}

.resetButton:active,
.saveButton:active {
  transform: scale(0.98);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.buttonIcon {
  width: 1.7rem;
  height: 1.7rem;
  transition: fill 0.3s ease;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .openContainer {
    width: 2rem;
    width: 100%;
    max-width: 14rem;
  }

  .sidebar {
    padding: 1rem 1.5rem;
        max-width: 14rem;

  }

  .closeContainer {
    width: 6rem;
    visibility: visible;
  }

  .storageButtons {
    flex-direction: column;
    gap: 0.5rem;
  }
}
