.canvasContainer {
  width: 100%;
}

.animatedElementContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-color: var(--panel-bg);
  position: relative;
  overflow: hidden;
}
