.canvasContainer {
  width: 100%;
}

.animatedElementContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--panel-bg);
  position: relative;
  overflow: hidden;
  box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.15),
    /* bottom-right */ inset -3px 3px 8px rgba(0, 0, 0, 0.15),
    /* bottom-left */ inset 3px -3px 8px rgba(0, 0, 0, 0.15),
    /* top-right */ inset -3px -3px 8px rgba(0, 0, 0, 0.15); /* top-left */
}/* 


.canvasContainer {
    display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 0.5rem;
  background-color: #111827;
  position: relative;
  overflow: hidden;
}

.grid {
  position: absolute;
  inset: 0;
  background-size: 40px 40px;
  background-image: 
  linear-gradient(to right, #1f2937 1px, transparent 1px),
  linear-gradient(to bottom, #1f2937 1px, transparent 1px);
  opacity: 0.2;
}


.animatedElementContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--panel-bg);
 
}

.animatedElement{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: white;
  font-size: 1rem;
  font-weight: 500;
} */