.keyframesContainer {
  position: relative;
  padding-right: 1rem;
  width: 30rem;
  margin-left: 0.2rem;
  flex: 1;
  height: 100%; /* ✅ match parent height */
  cursor: pointer;
  overflow: auto;
}

.row {
  min-height: 40px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-right: solid 1px var(--border);
  border-bottom: 1px solid var(--border);
}

.keyframeRow {
  position: relative;
  flex: 1;
  min-height: 40px;
}

.keyframe {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  cursor: grab;
  stroke: none;
}

.collapsedRow {
  position: relative;
}
.collapsedKeyframe {
  fill: var(--white);
  opacity: 0.5;
}

.selectedKeyframe {
  stroke: var(--keyframe-color);
  stroke-width: 3px;
  cursor: grab;
}

.playHead {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--playhead);
  top: 0;
  transform: translateX(-50%);
  bottom: 0;
}

.playHeadContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: 10;
  display: flex;
}

.playHead::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid var(--playhead);
}

.playHead::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background-color: var(--playhead);
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.scrole::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrole::-webkit-scrollbar-thumb {
  background: var(--button-hover-bg);
  border-radius: 4px;
}

.scrole::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}

@supports (-moz-appearance: none) {
  .scrole {
    scrollbar-width: thin;
    scrollbar-color: var(--button-hover-bg) var(--panel-bg);
  }
}
