#root {
  --header: #030712;
  --pr: #111827;
  --white: #e0e0e0;
  --panel-bg: #1e1e1e;
  --bg: #2c2c2c;
  --warning: #ff9500;
  width: 100%;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--white);
}

h2 {
  font-size: 1.3rem;
  font-weight: 600;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 0.5rem;
}

label {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--white);
}

set {
  outline: none;
}
button:focus {
  outline: none;
}

.main {
  display: flex;
  width: 100%;
}