/* 848484 */
:root {
  --white: #ffffff;
  --panel-bg: #e2e2e2;
  --bg: rgb(61, 65, 76); /*#494c50*/
  --header-bg: #1f2024;
  --timeline-bg: #1c1e22;
  --button-bg: #5a5b60;

  --border: #ffffff;

  --highlight-color: #ff4f75;
  --selectedLayer: #e5baba;
  --button-hover-bg: #d89d9d;

  --playhead: var(--selectedLayer);
  --keyframe-color: #7dd68c;
  --warning: #f7d5d5;
  --control-colors: var(--selectedLayer);

  /* Padding */
  --padding: 1rem;
  --general-padding: 0 1rem;

  /* Font Sizes */
  --font-size-h1: 1.5rem;
  --font-size-h2: 1.3rem;
  --font-size-h3: 1rem;
  --font-size-label: 0.9rem;

  /* Font Weights */
  --font-weight-bold: bold;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
}
/* LIGHT THEME */
body[data-theme="light"] {
  --white: #1b1e25;
  --panel-bg: #dbdde0;
  --bg: #f3f4f6;
  --header-bg: #b5b8bd;

  --timeline-bg: #d7d8dd;

  --button-hover-bg: #c9ccd3;
  --highlight-color: #cf316b;

  --playhead: #2b343e;
  --border: #000000;
  --text-muted: #000000;
  --keyframe-color: #38a169;
  --selectedLayer: #2b343e;
  --control-colors: #2b343e;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--white);
  font-family: "Raleway", sans-serif;
}

html,
body,
#root,
.appContainer {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

.popover {
  color: black;
  background-color: green;
}

.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

/* main content */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background-color: var(--bg);
}

.canvasTimelineContainer {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.canvasPropertiesTimeline {
  flex: 1;
  display: flex;
  overflow: hidden;
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-semibold);
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
  margin-top: 16px;
  margin-bottom: 0.5rem;
}

label {
  font-size: var(--font-size-label);
  font-weight: var(--font-weight-medium);
}

button:focus {
  outline: none;
}

.css-error-decoration {
  text-decoration: wavy underline #ef4444;
  text-decoration-skip-ink: none;
  font-weight: bold;
}
