/* 848484 */
:root {
  --white: #ffffff;
  --panel-bg: #e2e2e2;
  --bg: #3a3a3a;
  --header-bg: #2a2a2a;
  --timeline-bg: #2d2d2f;
  --button-bg: #5a5b60;

  --border: #ffffff;

  --highlight-color: #ff4f75;
  --selectedLayer: #e5baba;
  --button-hover-bg: #d89d9d;

  --playhead: var(--selectedLayer);
  --keyframe-color: #7dd68c;
  --warning: #f7d5d5;
  --control-colors: var(--selectedLayer);

  /* Padding */
  --padding: 1rem;

  /* Font Sizes */
  --font-size-h1: 1.5rem;
  --font-size-h2: 1.3rem;
  --font-size-h3: 1rem;
  --font-size-label: 0.9rem;

  /* Font Weights */
  --font-weight-bold: bold;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
}
/* LIGHT THEME */
body[data-theme="light"] {
  --white: #1b1e25;
  --panel-bg: #dbdde0;
  --bg: #f3f4f6;
  --header-bg: #b5b8bd;

  --text-color: #1e2025;
  --timeline-bg: #d7d8dd;

  --button-bg: #e0e0e6;
  --button-hover-bg: #c9ccd3;
  --highlight-color: #cf316b;

  --playhead: #2b343e;
  --border: #000000;
  --text-muted: #000000;
  --keyframe-color: #38a169;
  --selectedLayer: #2b343e;
  --control-colors: #2b343e;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.appContainer {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

/* Main Content */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.canvasTimelineContainer {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.canvasPropertiesTimeline {
  display: flex;
  overflow: hidden;
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
  color: var(--text-color);
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-semibold);
  color: var(--text-color);
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
  margin-top: 16px;
  margin-bottom: 0.5rem;
  color: var(--text-color);
}

label {
  font-size: var(--font-size-label);
  font-weight: var(--font-weight-medium);
  color: var(--text-color);
}

button:focus {
  outline: none;
}

/* .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: gray;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 300px;
  animation: animation-code-1 10s ease-in-out 0s infinite;
}

.profile-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #357ab8;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  transform: translate(5px, -64px);
  animation: animation-code-2 10s ease-in-out 0s infinite;
}

.profile-name {
  margin: 0.5rem 0;
  animation: animation-code-3 10s ease-in-out 0s infinite;
}

.description {
  color: black;
  animation: animation-code-4 10s ease-in-out 0s infinite;
}

.contact-button {
 display: inline-block;
  margin-top: 1rem;
  text-decoration: none;
  background: #4a90e2;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background 0.3s ease;
  cursor: pointer;
  transform: translate(1px, -78px);
  animation: animation-code-5 10s ease-in-out 0s infinite;
}
 */