:root {
  font-family: monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

 /* @keyframes animation {
  0% {
    width: 200px;
    height: 200px;
    transform: scale(1) rotate(0deg) translate(0px, 0px);
    opacity: 1;
    background-color: #000;
  }
  100% {
    width: var(--width);
    height: var(--height);
    transform: scale(var(--scale)) rotate(var(--rotate))
      translate(var(--translate-x), var(--translate-y));
    opacity: var(--opacity);
    background-color: var(--background-color);
  }
} 
 */